const PluginDir = "{{ icinga_plugindir }}"
const ManubulonPluginDir = "{{ icinga_plugindir }}"
const PluginContribDir = "{{ icinga_plugindir }}"
const NodeName = "{{ ansible_fqdn }}"
const ZoneName = {{ icinga_zone }}"
const TicketSalt = "{{ icinga_ticketsalt }}"

