{% for item in groups['icinga_master'] %}
object Endpoint "{{ hostvars[item].ansible_fqdn }}" {
  host = "{{ hostvars[item].ansible_default_ipv4.address }}"
}
{% endfor %}

object Zone "master" {
  endpoints = [ {% for host in groups['icinga_master'] %}
"{{ hostvars[host].ansible_fqdn }}"
{%- if loop.first %},{% endif %}
{% endfor %} ]
}

object Zone "global-templates" {
  global = true
}

object Zone "satellite-templates" {
  global = true
}
